.text
{
    width: 900px;
    padding: 20 0px;
}

.text h1
{
    width: 300px;
    margin-left: 22px;
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: initial;
}

.text__section
{
    font-size: 15px;
    line-height: 17px;
    height: 350px;

    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;

    column-gap: 90px;
    -moz-column-gap: 90px;
    -webkit-column-gap: 90px;
}

.text p
{
    margin: 0 0 15px 22px;
    text-indent: 20px;
}

.text li
{
    position: relative;
    left: -40px;

    list-style: none;
}

.text li:before {
    content: '— ';
    margin-right: 5px;
}

.text__item_decor_underline
{
    text-decoration: underline;
}

.text__item_decor_dotted
{
    border-bottom: 2px dotted;
}

.text__item_color_blue
{
    color: #1891ff;
}

.text__item_color_666
{
    color: #666;
}
