.rating__star_hidden_yes
{
    display: none;
}

.rating input
{
    position: absolute;
    opacity: 0;
    width: 16px;
}

.rating span {
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: no-repeat;
    padding-right: 16px;
}

.rating input:hover + span ~ span,
.rating input:checked + span ~ span
{
    background-image:url(rating__star.png) !important;
}
