.button2
{
    width: 80px;
    height: 20px;

    margin: 50px;

    border-radius: 8px;

    background: #F0F0F0;
    background: linear-gradient(to bottom, #F0F0F0 0%, #EBEBEB 50%, #E2E2E2 100%);

    box-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    -webkit-box-shadow: rgba(0, 0, 0, .4) 0 1px 0;

    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    font-size: 11px;

    cursor: pointer;
}

.button2:hover
{
    background: #EBEBEB;
    background: linear-gradient(to bottom, #E2E2E2 0%, #F0F0F0 50%, #F0F0F0 100%);
}

.button2:active
{
    background: #D0D0D0;
    background: linear-gradient(to bottom, #E2E2E2 0%, #D0D0D0 50%, #F0F0F0 100%);
}
